#map {
	width: 50%;
	float:left;
  cursor: pointer;
}

#info {
	width:100px;
	float:right;
}


.card {
  width:300px;
	background: #F0F0F5;
  border: 5px solid white;
  height:290px;
  float:left;
}

.axis text {
  font: 10px sans-serif;
  color: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#svg_donut {
    float: left;
    height: 300px;
    padding: 10px;
}

.headshot {
    width: 100px;
    border-radius: 50px;
    margin-left:10px;
}

.selected {
    border: 1px solid black;
}