#map {
	width: 100%;
	float:left;
}

#info {
	width:100px;
	float:right;
}

.headshot {
	width: 80%;
	margin: 0 auto;
}

.card {
	background: #F0F0F5;
	padding: 10px;
	margin: 10px;
}

.axis text {
  font: 10px sans-serif;
  color: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#svg_donut {
    float: left;
    height: 300px;
    padding: 10px;
}

